body {
    height: 100%;
    margin: 0;
}

.main {
    display: block;
    margin-top: 100px;
    
}

.logo-image {
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#search-input {
    display: block;
    width: 400px;
    line-height: 30px;
    border: 1px solid #dfe1e5;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-size: 15px;

}

.child-btn {
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    padding: 5px;
}

#doit-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    color: #0f1419;
    background-color:#dfe1e5;
    font-weight: 100;
    font-size: 18px;
}